<header>
    <a href="/"><span id="logo">Logo</span></a>
    <div class="items">
        <p><a href="/">Home</a></p>
        <!--    if the user is logged in -->
        <p><a href="/main">Play</a></p>
        <p><a href="/shop">Shop</a></p>
        <p><a href="/account">Account</a></p>
            <!--    if the user role is admin -->
            <p><a href="/admin">Admin panel</a></p>
            <!--    -->
        <p><a href="/logout">Logout</a></p>
        <!--            -->

        <!--    if the user is not logged in -->
        <p><a href="/login">Login</a></p>
        <p><a href="/registration">Registration</a></p>
        <!--            -->
    </div>
</header>