body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-table2{
    width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left:  100px;
}

.div-table {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid black;

}
.div-row > * {
    display: block;
}
.game-field {
    padding: 2px;
    border: 3px solid rgba(0,0,0,0.2);
    display: table;
    justify-content: center;
}

.field-row {
   display: table-row;
   flex-wrap: no-wrap;
}

.field-cell{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 0px;
    border: 0px solid black;
    background-color: #464646;
    background-size: cover;
    display: table-cell;
    flex-wrap: no-wrap;
}

.cell-closed{
    background-image: url(../img/cell.jpg);
}

.cell-opened-1 {
    background-image: url(../img/type1.jpg);
}
.cell-opened-2 {
    background-image: url(../img/type2.jpg);
}
.cell-opened-3 {
    background-image: url(../img/type3.jpg);
}
.cell-opened-4 {
    background-image: url(../img/type4.jpg);
}
.cell-opened-5 {
    background-image: url(../img/type5.jpg);
}
.cell-opened-6 {
    background-image: url(../img/type6.jpg);
}
.cell-opened-7 {
    background-image: url(../img/type7.jpg);
}
.cell-opened-8 {
    background-image: url(../img/type8.jpg);
}
.cell-mine {
    background-image: url(../img/mine.jpg);
}
.cell-opened {
    background-image: url(../img/cell_clear.jpg);
}
.cell-flag {
    background-image: url(../img/flag.jpg);
}
.item-locator {
    background-image: url(../img/locator.jpg);
}
.item-chance {
    background-image: url(../img/chance.jpg);
}

.direction-column{
    display: flex;
    flex-direction: column;
}

.direction-row{
    display: flex;
    flex-direction: row;
}

.auth div{
    width:600px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.auth label{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.auth input:not([type = "submit"]){
    width: 300px;
}
a{
    color: black!important;
    text-decoration: none!important;
}

.item{
    width: 40px;
    height: 40px;
    background-color: black;
    min-width: 40px;
    min-height: 40px;
    background-size: cover;
    border-radius: 50px;
}

.cell-selected{
    border: 2px solid black;
}

.input-amount{
    width: 60px;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}
.item-text {
    display: grid;
    align-items: end;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.direction-row{
    justify-content: space-around;
    width: 150px;
}
.direction-row .bonus{
    background-color: rgba(103, 0, 253, 0.4)!important;
    border-radius: 50px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonus.active{
    background-color: rgba(255, 53, 92, 0.91) !important;
}

.item-chance.cell-selected{
    border: 0!important;
}