<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адмни панель</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxicon.min.css">
</head>
<body>
<header th:insert="layouts/header::header"></header>
    <div class="container">
        <div class="row text-center"><a href="/" class="text-center">Вернуться на главную</a></div>
        <table class="table table table-striped">
            <thead>
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col" class="text-end pe-4">Действие</th>
                </tr>
            </thead>
                <tr th:each="i : ${users}">
                    <td><label th:text="${i.getUsername()}" ></label></td>
                    <td class="text-right d-flex justify-content-end">
                        <form method="get" th:action="@{'/admin/user/' + ${i.getUsername()}}">
                            <input name="username" type="hidden" th:value="${i.getUsername()}">
                            <input type="submit" class="btn btn-info text-white" value="подробнее">
                        </form>
                    </td>
                </tr>
        </table>
    </div>
</body>
</html>