<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper Online</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/config.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxicon.min.css">
</head>
<body>
<header th:insert="layouts/header::header"></header>
    <div id="zatemnenie" class="position-fixed">
        <div id="okno">
            <p>Вы <span id="status"></span>!!!</p>
            <p>Опыта получено: <span id="experience"></span> ед.</p>
            <p>Денег получено: <span id="money"></span> ед.</p>
            <p id="record"></p>
            <a href="#" class="close">Закрыть</a>
        </div>
    </div>
    <div id="param_form" class="mt-100p">
        <form id="field_param" action="" method="post" class="d-flex align-items-center mb-2 mt-5">
            <div class="field-row h-40p d-flex mx-1">
                <label for="width" class="d-flex align-items-center">Ширина: </label>
                <input id="width" class="form-control w-70p mx-1" type="number" name="width" value="20" min="2" max="80">
            </div>
            <div class="field-row h-40p d-flex mx-1">
                <label for="height" class="d-flex align-items-center">Высота: </label>
                <input id="height" class="form-control w-70p mx-1" type="number" name="height" value="10" min="2" max="80">
            </div>
            <div class="field-row h-40p d-flex mx-1">
                <label for="count" class="d-flex align-items-center">Мины: </label>
                <input id="count" class="form-control w-70p mx-1" type="number" name="minesCount" value="10"  min="1">
            </div>
            <input type="button" value="OK" id="param_btn" class="btn btn-primary btn-block my-3 w-70p h-40p">
        </form>
    </div>
    <div class="alert alert-success" role="alert">
        Выспасены
    </div>
    <div class="timer my-2 container text-center">
<!--        <h4 class="h4">Timer: </h4>-->
<!--        <p id="gameTime"></p>-->
        <i class='bx bx-timer' ></i><label id="minutes">00</label>:<label id="seconds">00</label>
    </div>
    <div class="d-flex">
        <div class="direction-column mx-3">
            <div th:each="i : ${items}" class="bonus mb-2">
                <div  th:class="${'item item-text item-' + i.getTypeName()}">
                    <p th:id="${i.getTypeName()}" th:text="${i.getAmount()}"></p>
                </div>
            </div>
        </div>
        <div class="game">
            <div class="game-field">
                <!--div class="field-row" th:each="i : ${field}">
                    <div class="field-cell cell-closed" th:each="j : ${i}" th:id="${'cell' + iStat.index + '_' + jStat.index}" th:attr="data-x=${jStat.index}, data-y=${iStat.index}"></div>
                </div-->
            </div>
        </div>
    </div>



    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>