<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная Minesweeper Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/boxicon.min.css">
    <link rel="stylesheet" href="css/config.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header th:insert="layouts/header::header"></header>

<!--    if the user is logged in -->
    <main class="mt-5 container">
        <h1 class="h1 text-center pt-5">Minesweeper Online</h1>
        <div class="w-100 my-5 text-center">
            <img src="img/main.png" alt="Minesweeper">
        </div>
        <div class="game-control row">
            <div class="d-flex justify-content-center">
                <h2 class="h2 mx-3" title="Игарть"><a href="/main"><i class='bx bx-play'></i> Играть</a></h2>
                <h2 class="h2 mx-3"><a href="/shop"><i class='bx bx-shopping-bag' ></i>Магазин</a></h2>
            </div>
        </div>
        <div class="col my-5">
            <h2 class="h2 border-bottom">Добро пожаловать на Minesweeper Online! <i class='bx bx-smile' ></i></h2>
            <p>Играть в сапера-наша страсть. Вот почему мы стремимся сделать ее величайшей игрой в мире!</p>
        </div>
        <div class="col my-5">
            <h2 class="h2 border-bottom">Правила <i class='bx bx-list-ul' ></i></h2>
            <p>
                Правила сапера очень просты. Игровое поле разделено на клетки, в которых случайным образом распределены мины.
                Чтобы победить, вам нужно открыть все клетки не содержащие мины. Число на открытой клетке показывает количество мин, расположенных рядом с ней.
                Используя эту информацию, вы можете определить безопасные клетки и клетки, содержащие мины.
                Клетки, подозреваемые в том, что они являются минами, могут быть помечены флажком с помощью правой кнопки мыши.
            </p>
        </div>
    </main>
    <table class="table table table-striped w-50 mx-auto mb-5">
        <thead>
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col"><a href="?sort=level">Уровень</a></th>
            <th scope="col"><a href="?sort=record">Рекорд</a></th>
            <th scope="col"><a href="?sort=points">Всого очков</a></th>

        </tr>
        </thead>
        <tr th:each="i : ${users}">
            <td><label th:text="${i.getUsername()}" ></label></td>
            <td><label th:text="${i.getLevel()}" ></label></td>
            <td><label th:text="${i.getRecord()}" ></label></td>
            <td><label th:text="${(i.getLevel() * 10000 + i.getExperience())}" ></label></td>
        </tr>
    </table>
<!--    -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
