<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxicon.min.css">
</head>
<body>
<table class="table table table-striped">
    <thead>
    <tr>
        <th scope="col">Имя пользователя</th>
        <th scope="col" class="text-end pe-4">Действие</th>
    </tr>
    </thead>
    <tr th:each="i : ${users}">
        <td><label th:text="${i.getUsername()}" ></label></td>
        <td><label th:text="${' Уровень: ' + i.getLevel()}" ></label></td>
        <td><label th:text="${' Рекорд: ' + i.getLevel()}" ></label></td>
    </tr>
</table>
</body>
</html>