<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item shop</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header th:insert="layouts/header::header"></header>
  <h3>Кошелёк: <span th:text="${money}"></span></h3>
  <form class="direction-row" th:each="type : ${types}" method="post" action="/shop/buy" >
    <div th:class="${'item item-' + type.getName()}"></div>
    <input type="hidden" name="type" th:value="${type.getId()}">
    <label th:text="${'Стоимость (шт): ' + type.getCost()} + ' '"></label>
    <label>Количество: </label><input name="amount" type="number" title="Количество" class="input-amount" required>
    <input type="submit" value="Купить" style="display: block; margin: 10px 0px 0px auto;">
  </form>
</body>
</html>