<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/config.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxicon.min.css">
    <link rel="stylesheet" href="css/config.css">
</head>
<body>
    <header th:insert="layouts/header::header"></header>
    <main class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Значение</th>
                </tr>
                </thead>
                <tr>
                    <td>Имя пользователя</td>
                    <td><label th:text="${user.getUsername()}"></label></td>
                </tr>
                <tr>
                    <td>Сыграно игр</td>
                    <td><label th:text="${matches.size()}"></label></td>
                </tr>
                <tr>
                    <td>Уровень</td>
                    <td><label th:text="${user.getLevel()}"></label></td>
                </tr>
                <tr>
                    <td>Опыт</td>
                    <td><label th:text="${user.getExperience()}"></label></td>
                </tr>
                <tr>
                    <td>Бюджет</td>
                    <td><label th:text="${user.getMoney()}"></label></td>
                </tr>
                <tr>
                    <td>Размер инвентаря</td>
                    <td><label th:text="${inventory.size()}"></label></td>
                </tr>
            </table>
            <table class="table my-3">
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tr th:each="i : ${inventory}" >
                    <td><label th:text="${'Предмет: ' + i.getTypeName() + ', количество: ' +  i.getAmount() + 'шт'}" ></label></td>
                    <td>
                        <form method="post" id="delete_item_btn" th:action="@{'/admin/user/' + ${user.getUsername()} + '/item/delete'}">
                            <input name="item" type="hidden" th:value="${i.getId()}">
                            <input id="delete" type="submit" value="Удалить" class="btn btn-danger text-white">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form method="post" class="d-flex align-items-center" th:action="@{'/admin/user/' + ${user.getUsername()} + '/item/add'}">
                            <label class="pe-2">Тип: </label>
                            <select name="type" class="form-select w-300p">
                                <option th:each="type : ${types}" th:value="${type.getId()}" th:utext="${type.getName()}" th:title="${type.getDescription()}"></option>
                            </select>
                            <div class="input-group">
                                <input type="number" class="form-control w-300p" name="amount" placeholder="Количество" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-success" type="submit" value="Добавить">
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        <div class="row text-center"><a th:href="@{'/admin/user/' + ${user.getUsername()} + '/report'}" target="_blank">Получить отчет</a></div>
    </main>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>